<ikonick-video
  main_text="WELCOME TO IKONICK"
  secondary_text="Affordable Art Designed To Inspire"
  img_link="https://cdn.shopify.com/s/files/1/0559/1030/1741/files/banner-homepage-detail_16x9.mp4?v=1642200918">
  Loading...</ikonick-video>
<div>
  <div *ngFor="let carousel of carousels">
    <ikonick-carousel
      title={{carousel.title}}

      img1={{carousel.img1}}
      text1={{carousel.text1}}

      img2={{carousel.img2}}
      text2={{carousel.text2}}

      img3={{carousel.img3}}
      text3={{carousel.text3}}

      img4={{carousel.img4}}
      text4={{carousel.text4}}

      img5={{carousel.img5}}
      text5={{carousel.text5}}

      img6={{carousel.img6}}
      text6={{carousel.text6}}

      img7={{carousel.img7}}
      text7={{carousel.text7}}

      img8={{carousel.img8}}
      text8={{carousel.text8}}

      img9={{carousel.img9}}
      text9={{carousel.text9}}

      img10={{carousel.img10}}
      text10={{carousel.text10}}

      img11={{carousel.img11}}
      text11={{carousel.text11}}

      img12={{carousel.img12}}
      text12={{carousel.text12}}>
      Loading...
    </ikonick-carousel>
  </div>
</div>
