<header>
  <!-- The HTML5 video element that will create the background video on the header -->
  <video playsinline="playsinline" autoplay="autoplay" muted="true" loop="loop" preload="auto" width="320" height="240">
    <source src="{{img_link}}" type="video/mp4">
  </video>
  <!-- The header content -->
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h2>{{main_text}}</h2>
        <h3>{{secondary_text}}</h3>
      </div>
    </div>
  </div>
</header>
