<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a routerLink="Motivational" routerLinkActive="" class="nav-link text-black" href="#">Motivational Originals</a>
  </li>
  <li class="nav-item">
    <a routerLink="Kids" routerLinkActive="" class="nav-link text-black" href="#">Kids</a>
  </li>
  <li class="nav-item">
    <a routerLink="Artists" routerLinkActive="" class="nav-link text-black" href="#">Artists</a>
  </li>
  <li class="nav-item dropdown">
    <a class="text-black nav-link" data-bs-toggle="dropdown" href="#" role="button"
       aria-expanded="false">Explore</a>
    <ul class="dropdown-menu multi-column columns-2">
      <div class="row">
        <div class="col-sm-3">
          <ul class="multi-column-dropdown">
            <li><a routerLink="Motivational" routerLinkActive="active" class="text-black text-decoration-none" href="#">Motivational Originals</a></li>
            <li><a routerLink="Artists" routerLinkActive="active" class="text-black text-decoration-none" href="#">Artists</a></li>
            <li><a routerLink="Kids" routerLinkActive="active" class="text-black text-decoration-none" href="#">Kids</a></li>
            <li><a routerLink="Women-Artists" routerLinkActive="active" class="text-black text-decoration-none" href="#">Women Artists</a></li>
            <li><a routerLink="Monopoly" routerLinkActive="active" class="text-black text-decoration-none" href="#">Monopoly</a></li>
            <li><a routerLink="NBA-Legends" routerLinkActive="active" class="text-black text-decoration-none" href="#">NBA Legends</a></li>
            <li><a routerLink="All-Collections" routerLinkActive="active" class="text-black fw-bold" href="#">All Collections</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="multi-column-dropdown">
            <li><img src="//cdn.shopify.com/s/files/1/0559/1030/1741/files/Monopoly_-_Go_1_300x.jpg?v=1641876053" data-aspectratio="1.0" alt="" style="aspect-ratio:1.0;" width="155" height="155">
            <li ><a routerLink="All-Collections" routerLinkActive="" class="text-black text-decoration-none" href="#">All Collections</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="multi-column-dropdown">
            <li><img src="//cdn.shopify.com/s/files/1/0559/1030/1741/files/DSC08135_300x.jpg?v=1641876808" data-aspectratio="1.0" alt="" style="aspect-ratio:1.0;" width="155" height="155">
            <li><a routerLink="Best-Sellers" routerLinkActive="" class="text-black text-decoration-none" href="#">Best Sellers</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="multi-column-dropdown">
            <li><img src="//cdn.shopify.com/s/files/1/0559/1030/1741/files/04_28_21_paradise-valley_2_1_2_2_300x.jpg?v=1641963412" data-aspectratio="1.0" alt="" style="aspect-ratio:1.0;" width="155" height="155">
            <li><a routerLink="Bundles" routerLinkActive="" class="text-black text-decoration-none" href="#">Bundles</a></li>
          </ul>
        </div>
      </div>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="text-black nav-link" data-bs-toggle="dropdown" href="#" role="button"
       aria-expanded="false">Collections</a>
    <ul class="dropdown-menu multi-column columns-2">
      <div class="row">
        <div class="col-sm-3">
          <ul class="multi-column-dropdown">
            <li><a routerLink="Monopoly" routerLinkActive="" class="text-black text-decoration-none" href="#">Monopoly</a></li>
            <li><a routerLink="Peanuts" routerLinkActive="" class="text-black text-decoration-none" href="#">Peanuts</a></li>
            <li><a routerLink="Muhammad-Ali" routerLinkActive="" class="text-black text-decoration-none" href="#">Muhammad Ali</a></li>
            <li><a routerLink="NBA-Legends" routerLinkActive="" class="text-black text-decoration-none" href="#">NBA Legends</a></li>
            <li><a routerLink="Smiley" routerLinkActive="" class="text-black text-decoration-none" href="#">Smiley</a></li>
            <li><a routerLink="Popeye" routerLinkActive="" class="text-black text-decoration-none" href="#">Popeye</a></li>
            <li><a routerLink="Scrabble" routerLinkActive="" class="text-black text-decoration-none" href="#">Scrabble</a></li>
            <li><a routerLink="All-Collections" routerLinkActive="" class="text-black fw-bold" href="#">All Collections</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="multi-column-dropdown">
            <li><img src="//cdn.shopify.com/s/files/1/0559/1030/1741/files/Monopoly_e1c04249-89d0-4d90-9cad-20c953782b1e_300x.jpg?v=1642098436" data-aspectratio="1.0" alt="" style="aspect-ratio:1.0;" width="155" height="155">
            <li ><a routerLink="Monopoly" routerLinkActive="" class="text-black text-decoration-none" href="#">Monopoly</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="multi-column-dropdown">
            <li><img src="//cdn.shopify.com/s/files/1/0559/1030/1741/files/peanuts_300x.jpg?v=1642098485" data-aspectratio="1.0" alt="" style="aspect-ratio:1.0;" width="155" height="155">
            <li><a routerLink="Peanuts" routerLinkActive="" class="text-black text-decoration-none" href="#">Peanuts</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="multi-column-dropdown">
            <li><img src="//cdn.shopify.com/s/files/1/0559/1030/1741/files/nba_300x.jpg?v=1642098505" data-aspectratio="1.0" alt="" style="aspect-ratio:1.0;" width="155" height="155">
            <li><a routerLink="NBA-Legends" routerLinkActive="" class="text-black text-decoration-none" href="#">NBA Legends</a></li>
          </ul>
        </div>
      </div>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="text-black nav-link" data-bs-toggle="dropdown" href="#" role="button"
       aria-expanded="false">Categories</a>
    <ul class="dropdown-menu multi-column columns-2">
      <div class="row">
        <div class="col-sm-3">
          <ul class="multi-column-dropdown">
            <li><a class="text-black text-decoration-none" href="#">Inspirational</a></li>
            <li><a class="text-black text-decoration-none" href="#">Abstract</a></li>
            <li><a class="text-black text-decoration-none" href="#">Photography</a></li>
            <li><a class="text-black text-decoration-none" href="#">Life Size</a></li>
            <li><a class="text-black text-decoration-none" href="#">Pop Art</a></li>
            <li><a class="text-black text-decoration-none" href="#">Surrealism</a></li>
            <li><a class="text-black text-decoration-none" href="#">Typography</a></li>
            <li><a class="text-black fw-bold" href="#">All Collections</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="multi-column-dropdown">
            <li><img src="https://cdn.shopify.com/s/files/1/0559/1030/1741/files/ikonick_website_category_covers-03_220x.jpg?v=1642109041" data-aspectratio="1.0" alt="" style="aspect-ratio:1.0;" width="155" height="155">
            <li ><a class="text-black text-decoration-none" href="#">Inspirational</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="multi-column-dropdown">
            <li><img src="//cdn.shopify.com/s/files/1/0559/1030/1741/files/ikonick_website_category_covers-08_300x.jpg?v=1642109219" data-aspectratio="1.0" alt="" style="aspect-ratio:1.0;" width="155" height="155">
            <li><a class="text-black text-decoration-none" href="#">Photoraphy</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="multi-column-dropdown">
            <li><img src="//cdn.shopify.com/s/files/1/0559/1030/1741/files/kim-rose_ce00a76d-64e8-4270-8633-ac9dc1c0ed8f_300x.jpg?v=1641592283" data-aspectratio="1.0" alt="" style="aspect-ratio:1.0;" width="155" height="155">
            <li><a class="text-black text-decoration-none" href="#">Abstract</a></li>
          </ul>
        </div>
      </div>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="text-black nav-link" data-bs-toggle="dropdown" href="#" role="button"
       aria-expanded="false">Themes</a>
    <ul class="dropdown-menu multi-column columns-2">
      <div class="row">
        <div class="col-sm-3">
          <ul class="multi-column-dropdown">
            <li><a class="text-black text-decoration-none" href="#">Cars</a></li>
            <li><a class="text-black text-decoration-none" href="#">Lips</a></li>
            <li><a class="text-black text-decoration-none" href="#">Celebrity</a></li>
            <li><a class="text-black text-decoration-none" href="#">Money</a></li>
            <li><a class="text-black text-decoration-none" href="#">Music</a></li>
            <li><a class="text-black text-decoration-none" href="#">Space</a></li>
            <li><a class="text-black text-decoration-none" href="#">Sports</a></li>
            <li><a class="text-black fw-bold" href="#">All Collections</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="multi-column-dropdown">
            <li><img src="//cdn.shopify.com/s/files/1/0559/1030/1741/files/sol-rapson_8f554d57-d325-44d7-8bbb-02007e1f8e75_300x.jpg?v=1641592529" data-aspectratio="1.0" alt="" style="aspect-ratio:1.0;" width="155" height="155">
            <li ><a class="text-black text-decoration-none" href="#">Cars</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="multi-column-dropdown">
            <li><img src="//cdn.shopify.com/s/files/1/0559/1030/1741/files/lips_300x.jpg?v=1641594111" data-aspectratio="1.0" alt="" style="aspect-ratio:1.0;" width="155" height="155">
            <li><a class="text-black text-decoration-none" href="#">Lips</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <ul class="multi-column-dropdown">
            <li><img src="//cdn.shopify.com/s/files/1/0559/1030/1741/files/rubberband_300x.jpg?v=1641594286" data-aspectratio="1.0" alt="" style="aspect-ratio:1.0;" width="155" height="155">
            <li><a class="text-black text-decoration-none" href="#">Money</a></li>
          </ul>
        </div>
      </div>
    </ul>
  </li>
    <li class="nav-item">
    <a class="nav-link text-black" href="#">Bundles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-black" href="#">Gift Card</a>
  </li>
</ul>
