<div class="container h-100">
  <div class="d-flex h-100 text-center align-items-center">
    <div class="w-100 text-white">
      <h2>{{title}}</h2>
    </div>
  </div>
</div>


<div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card shadow-none">
        <div class="img-wrapper"><img src={{img1}} class="d-block w-100" alt="..."> </div>
        <div class="card-body">
          <h5 class="card-title" align="center">{{text1}}</h5>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="card shadow-none">
        <div class="img-wrapper"><img src={{img2}} class="d-block w-100" alt="..."> </div>
        <div class="card-body">
          <h5 class="card-title" align="center">{{text2}}</h5>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="card shadow-none">
        <div class="img-wrapper"><img src={{img3}}} class="d-block w-100" alt="..."> </div>
        <div class="card-body">
          <h5 class="card-title" align="center">{{text3}}</h5>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="card shadow-none">
        <div class="img-wrapper"><img src={{img4}}} class="d-block w-100" alt="..."> </div>
        <div class="card-body">
          <h5 class="card-title" align="center">{{text4}}</h5>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="card shadow-none">
        <div class="img-wrapper"><img src={{img5}}} class="d-block w-100" alt="..."> </div>
        <div class="card-body">
          <h5 class="card-title" align="center">{{text5}}</h5>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="card shadow-none">
        <div class="img-wrapper"><img src={{img6}}} class="d-block w-100" alt="..."> </div>
        <div class="card-body">
          <h5 class="card-title" align="center">{{text6}}</h5>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="card shadow-none">
        <div class="img-wrapper"><img src={{img7}}} class="d-block w-100" alt="..."> </div>
        <div class="card-body">
          <h5 class="card-title" align="center">{{text7}}</h5>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="card shadow-none">
        <div class="img-wrapper"><img src={{img8}}} class="d-block w-100" alt="..."> </div>
        <div class="card-body">
          <h5 class="card-title" align="center">{{text8}}</h5>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="card shadow-none">
        <div class="img-wrapper"><img src={{img9}}} class="d-block w-100" alt="..."> </div>
        <div class="card-body">
          <h5 class="card-title" align="center">{{text9}}</h5>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="card shadow-none">
        <div class="img-wrapper"><img src={{img10}}} class="d-block w-100" alt="..."> </div>
        <div class="card-body">
          <h5 class="card-title" align="center">{{text10}}</h5>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="card shadow-none">
        <div class="img-wrapper"><img src={{img3}}} class="d-block w-100" alt="..."> </div>
        <div class="card-body">
          <h5 class="card-title" align="center">{{text11}}</h5>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="card shadow-none">
        <div class="img-wrapper"><img src={{img3}}} class="d-block w-100" alt="..."> </div>
        <div class="card-body">
          <h5 class="card-title" align="center">{{text12}}</h5>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
