
<div class="container h-100">
  <div class="d-flex h-100 text-center align-items-center">
    <div class="w-100 text-white">
      <h2>OVER 1,500 PIECES</h2>
      <h3>Motivational, Photography, Abstract & More.</h3>
    </div>
  </div>
</div>


<div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card shadow-none">
        <div class="img-wrapper"><img src="//cdn.shopify.com/s/files/1/0559/1030/1741/files/newarrivals_800x.jpg?v=1642095665" class="d-block w-100" alt="..."> </div>
        <div class="card-body">
          <h5 class="card-title" align="center">New Arrivals</h5>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="card shadow-none">
        <div class="img-wrapper"><img src="//cdn.shopify.com/s/files/1/0559/1030/1741/files/08_19_21_hq_pause-no-rewind_1-1x1_1__jpg_800x.jpg?v=1641875494" class="d-block w-100" alt="..."> </div>
        <div class="card-body">
          <h5 class="card-title" align="center">Best Sellers</h5>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="card shadow-none">
        <div class="img-wrapper"><img src="//cdn.shopify.com/s/files/1/0559/1030/1741/files/lifestyle-5_800x.jpg?v=1641341401" class="d-block w-100" alt="..."> </div>
        <div class="card-body">
          <h5 class="card-title" align="center">Motivational</h5>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="card shadow-none">
        <div class="img-wrapper"><img src="//cdn.shopify.com/s/files/1/0559/1030/1741/files/newarrivals_800x.jpg?v=1642095665" class="d-block w-100" alt="..."> </div>
        <div class="card-body">
          <h5 class="card-title" align="center">Card title 1</h5>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
