<header>
  <!-- The HTML5 video element that will create the background video on the header -->
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" preload="auto" width="320" height="240" controls="">
    <source src="https://cdn.shopify.com/s/files/1/0559/1030/1741/files/banner-homepage-detail_16x9.mp4?v=1642200918" type="video/mp4">
  </video>
  <!-- The header content -->
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h2>WELCOME TO IKONICK</h2>
        <h3>Affordable Art Designed To Inspire</h3>
      </div>
    </div>
  </div>
</header>
